# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Configuration files
*.cfg

TM4C/.launches/*
TM4C/.settings/*
TM4C/Debug/*
TM4C/Release/*
TM4C/targetConfigs/*
TM4C/.ccsproject
TM4C/.project
TM4C/.cproject
TM4C/tm4c129cncpdt.cmd
TM4C/tm4c129cncpdt_startup_ccs.c
